<include file="Public/_header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/page.css" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.datetimepicker.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-ui-1.7.2.custom.css">
<div class="so_main">  
    <div class="page_tit">{$funcdesc}</div>
    <div style="height:70px;line-height:30px;">
    <form action="{:U('/index.php/admin/owner/index')}" method="post" enctype="multipart/form-data">
        <label>创建日期：</label> 
        <input class="textbox" type="text" value="{$starttime}" name="starttime" id="starttime" placeholder="选择开始日期" readonly > -
        <input class="textbox" type="text" value="{$endtime}" name="endtime" id="endtime" placeholder="选择结束日期" readonly>
        <br/>
        用户类型：
        <select name="usertype">
        		<option  value="">-请选择-</option>
        		<option  value="0" {$usertype === '0' ? 'selected' : ''} >独立广告主</option>
        		<option  value="1" {$usertype == '1' ? 'selected' : ''} >代理商</option>
                <option  value="2" {$usertype == '2' ? 'selected' : ''} >代理商的广告主</option>
        </select>
        &nbsp;&nbsp;
        用户状态：
        <select name="status">
        		<option  value="">-请选择-</option>
        		<option  value="0" {$status === '0' ? 'selected' : ''} >正常</option>
        		<option  value="1" {$status == '1' ? 'selected' : ''} >异常</option>
        </select>
        &nbsp;&nbsp;
        用户名：<input type="text" id="content" maxlength="200" name="content" value="{$content}"/>
        <input id="baocun-btn" type="submit" value="搜索">
    </form>
    </div>   
    <div class="list">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>   
                <th class="line_l" width="3%">序号</th>
                <th class="line_l" width="7%">用户名</th>
                <th class="line_l" width="9%">用户类型</th>
                <th class="line_l" width="8%">联系人</th>
                <th class="line_l" width="8%">手机号</th>
                <th class="line_l" width="16%">电子邮箱</th>
                <th class="line_l" width="7%">账号余额(元)</th> 
                <th class="line_l" width="12%">创建时间</th>  
                <th class="line_l" width="10%">用户状态</th>  
                <th class="line_l" width="20%">操作</th>  
            </tr>
            <foreach name="users" item="user">
			<tr>
				<td>{$user['id']}</td>
				<td><a href="javascript:;" name="a_view" ajax-url="__CONTROLLER__/userinfo" ajax-data="id={$user['id']}">{$user['username']}</a></td>
				<td>{$typelist[$user['usertype']]}</td>
                <td>{$user['realname']}</td>
                <td>{$user['mobile']}</td>
				<td>{$user['email']}</td>
				<td>{$user['balance']}</td>
				<td>{$user['createtime']}</td>
				<td><span id='status{$user['id']}'>{$statelist[$user['status']]}</span>&nbsp;&nbsp;(<a href="javascript:;" name='statusupdate' attr-name="{$user['username']}" attr-status="{$user['status']}" attr-ownerid="{$user['id']}">修改</a>)</td>
				<td>
                    <a href="/admin/owner/tasklist/wid/{$user['id']}.html">任务列表</a>&nbsp;&nbsp; 
                    <a href="/index.php/admin/finance/rechargeamount/id/{$user['id']}.html">充值</a>&nbsp;&nbsp;
                    <a href="/index.php/admin/owner/chargelist/wid/{$user['id']}/u_name/{$user['username']}.html">账户金额流水记录</a>     
                </td>
			</tr>
            </foreach>
        </table>
    </div>
    <div class="Toolbar_inbox">
        <div class="yema">{$pagehtml}</div>  
    </div>
</div>
<!--查看用户-->
<div class="windows_box win_510" id="view_user"></div>
<script type="text/javascript" src="__PUBLIC__/admin/js/owner.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-1.7.2.custom.min.js" ></script> 
<script type="text/javascript" src="__PUBLIC__/js/jquery.datetimepicker.js" ></script> 
<include file="Public/_footer" />