<include file="Public/_header" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/page.css" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.datetimepicker.css" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-ui-1.7.2.custom.css" >
<div class="so_main">  
    <div class="page_tit">{$funcdesc}</div>
    <div style="height:70px;line-height:30px;">  
    <form action="{:U('/index.php/admin/transfer/transferlog')}" method="post" enctype="multipart/form-data">
        <label>充值日期：</label> 
        <input class="textbox" type="text" value="{$starttime}" name="starttime" id="starttime" placeholder="选择开始日期" readonly > -
        <input class="textbox" type="text" value="{$endtime}" name="endtime" id="endtime" placeholder="选择结束日期" readonly>
        <br/>
        <label>代理商：</label>
        <input type="text" name="agent_name" value="{$agent_name}" placeholder="代理商" />
        &nbsp;&nbsp;
        <label>广告主：</label>
        <input type="text" name="user_name" value="{$user_name}" placeholder="广告主" />
        &nbsp;&nbsp;
        <input id="baocun-btn" type="submit" value="搜索">
    </form>
    </div>  
    <div class="list">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>   
                <th class="line_l" width="16%">代理商</th>
                <th class="line_l" width="16%">联系人</th>
                <th class="line_l" width="16%">广告主</th>
                <th class="line_l" width="16%">联系人</th>
                <th class="line_l" width="16%">转账金额</th>  
                <th class="line_l" width="20%">转账时间</th>  
            </tr>
            <foreach name="data" item="vo">
                <td><a href="javascript:;" onclick="javascript:UserInfo({$vo['agentid']});">{$vo['agent_username']}</a></td>
                <td>{$vo['agent_contact']}</td>
                <td><a href="javascript:;" onclick="javascript:UserInfo({$vo['userid']});">{$vo['owner_username']}</a></td>
                <td>{$vo['owner_contact']}</td>
                <td>{$vo['fee']}</td>
                <td>{$vo['time']}</td>
            </foreach>
        </table>
    </div>
    <div class="Toolbar_inbox">
        <div class="yema">{$pagehtml}</div>  
    </div>
</div>
<div class="windows_box win_510" id="view_task" ></div>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-1.7.2.custom.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.datetimepicker.js" ></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/transfer.js" ></script>
<script>
$(document).ready(function(){
    $('#starttime,#endtime').datetimepicker({
        lang:'ch',
        timepicker:true,
        format:'Y-m-d H:i',
        formatDate:'Y-m-d H:i'
    });
});
</script>
<include file="Public/_footer" />