<include file="Public/_header" />
<style type="text/css">
    .blue{color:blue;}
    .tab_menu ul li{float:left;}
    .clear{clear:both;margin-top: 25px;}
    .hide{display:none;}
    #tab_refuse{width:450px;height:200px;border:1px solid #ddd;position:absolute;left:350px;top:100px;z-index:20px;background:pink;display:none;}
    .refuse_reason{font-weight:bold;font-size:14px;text-align:left;}
    .refuse_close{width:15px;height:15px;border:1px solid #ddd; text-align:center;float:right;margin:10px;}
</style>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/common.css" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/page.css" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery-ui-1.7.2.custom.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.datetimepicker.css" >
<div class="so_main">  
<div class="page_tit">{$funcdesc}</div>
    <!--menu-->
    <include file="menu" />
    <div class="clear"></div>
    <hr/>
    <div>
        <form action="{:U('/index.php/admin/finance/withdrawals')}" method="get" enctype="multipart/form-data">
        <label>申请日期：</label> 
        <input class="textbox" type="text" value="{$starttime}" name="starttime" id="starttime" placeholder="选择开始日期" readonly > -
        <input class="textbox" type="text" value="{$endtime}" name="endtime" id="endtime" placeholder="选择结束日期" readonly>
        <input type="hidden" name="tmp" value="wait" />
            手机号:
            <input type="text" name="mobile" value="{$mobile}" />
            &nbsp;&nbsp;
            <input  type="submit" value="查询" />
        </form>   
        <div class="list">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>   
                    <th class="line_l" width="10%"><a href="javascript:;" id="all">全选</a>/<a href="javascript:;" id="notall">全不选</a></th>
                    <th class="line_l" width="15%">手机号</th>
                    <th class="line_l" width="15%">支付宝实名</th>
                    <th class="line_l" width="15%">支付宝</th>
                    <th class="line_l" width="15%">金额</th>  
                    <th class="line_l" width="15%">申请时间</th>  
                    <th class="line_l" width="15%">操作</th>
                </tr>
                <foreach name="records" item="record">
                <tr>
                    <td><input type="checkbox" name="checked" class="extract_id" value="{$record['id']}" class="checkedbox" /></td>
                    <td>{$record['mobile']}</td>
                    <td>{$record['account_name']}</td>
                    <td>{$record['account']}</td>
                    <td>{$record['fee']}</td>
                    <td>{$record['paydate']}</td>
                    <td><a href="javascript:;" onclick="pass({$record['id']})">通过</a>　<a href="javascript:;" onclick="unpass({$record['id']})">拒绝</a></td>
                </tr>
                </foreach>
                <tr style="background-color:#EFEFEF;">
                    <td class="line_l"><a href="javascript:;" onclick="allpass()">全部通过</a>　<a href="javascript:;" onclick="refuse()">全部拒绝</a></td>
                    <td class="line_l">&nbsp;</td>
                    <td class="line_l">&nbsp;</td>  
                    <td class="line_l">&nbsp;</td>  
                    <td class="line_l" colspan="3" align="right">总计：{$recharge_total}元，共{$count}个提现申请，每页显示20个,</td>  
                </tr>
            </table>
        </div>
        <div class="Toolbar_inbox">
            <div class="yema">{$pagehtml}</div>  
        </div>
    </div>
</div>
<div id="layer_pass"></div>
<div id="layer_status"></div>
<div id="layer_reject"></div>
<div id="layer"></div>
<script type="text/javascript" src="__PUBLIC__/js/jquery.datetimepicker.js" ></script>
<script src="__PUBLIC__/js/jquery-ui-1.7.2.custom.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/mediafinance.js" ></script>
<include file="Public/_footer" />