<include file="Public/_header" />
<div class="so_main">  
    <div class="page_tit">{$funcdesc}</div>

    <include file="_menu" />
    <div class="clear"></div>
    <hr/>
    <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>   
            <th class="line_l" width="10%">计划任务编号</th>
            <th class="line_l" width="40%">计划任务说明</th>
            <th class="line_l" width="40%">计划任务url</th>
            <th class="line_l" width="10%">执行</th>
        </tr>
        <tr>
            <td>1</td>
            <td>{$onecron_fortask}</td>
            <td>{$onecron_url}</td>
            <td><a href="{$onecron_url}" _target="blank">执行</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>{$twocron_fororder}</td>
            <td>{$twocron_url}</td>
            <td><a href="{$twocron_url}" _target="blank">执行</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>{$thrcron_fororder}</td>
            <td>{$thrcron_url}</td>
            <td><a href="{$thrcron_url}" _target="blank">执行</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>{$fourcron_fororder}</td>
            <td>{$fourcron_url}</td>
            <td><a href="{$fourcron_url}" _target="blank">执行</a></td>
        </tr>
        <tr>
            <td>5</td>
            <td>{$fivecron_fororder}</td>
            <td>{$fivecron_url}</td>
            <td><a href="{$fivecron_url}" _target="blank">执行</a></td>
        </tr>
        <tr>
            <td>6</td>
            <td>{$sixcron_fororder}</td>
            <td>{$sixcron_url}</td>
            <td><a href="{$sixcron_url}" _target="blank">执行</a></td>
        </tr>
        <tr>
            <td>7</td>
            <td>{$sevencron_fororder}</td>
            <td>{$sevencron_url}</td>
            <td><a href="{$sevencron_url}" _target="blank">执行</a></td>
        </tr>
        <tr>
            <td>8</td>
            <td>{$eightcron_fororder}</td>
            <td>{$eightcron_url}</td>
            <td><a href="{$eightcron_url}" _target="blank">执行</a></td>
        </tr>
        <tr>
            <td>9</td>
            <td>{$ninecron_fororder}</td>
            <td>{$ninecron_url}</td>
            <td><a href="{$ninecron_url}" _target="blank">执行</a></td>
        </tr>
    </table>
</div>
<include file="Public/_footer" />